 
<app-header></app-header>
<!-- banner -->
<section class="banner">
  <div class="container">
    <div class="row banner-grids">
      <div class="col-lg-6 banner-info">
        <h2 class="">India</h2>
        <h3 class="mb-3">Tour Guide</h3>
        <p class="mb-4"> An web application using AngularJS, PHP and MySQL is created to provide tour guidance with
          optimal timings based on opening/closing hours of tourist attractions, costs and distance to the next
          attractions.
        </p>
        <p class="mb-4"> The application also has capability to reschedule plans / divert routes based on local traffic</p>

        <a href="#">Read More</a>
      </div>
      <div class="col-lg-6 col-md-9 banner-image">
        <img src="assets/images/banner.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- //banner -->
<br><br><br><br><br><br>

<app-footer></app-footer>