
<app-header2></app-header2>

<br><br>

<!-- typography -->
<section class="typo py-5">
	<div class="container py-md-3">
		<div class="heading">
			<h3 class="head text-center"> Your Best Plan </h3>
      
      

<!-- Plan -->

      <div class="typo-grid card-styles mt-5">
				<h3 class="mb-4">Based on Your Input Best Suggestion from TomTom</h3>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="card text-white bg-primary mb-3">
								<div class="card-header">Tour Map</div>
								<div class="card-body">
									
									<img src="assets/images/banner_old.png" alt="" class="img-fluid" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="card text-white bg-secondary mb-3">
								<div class="card-header">Journey Details</div>
								<div class="card-body">
									
									<p class="card-text">
                    Chennai Koyembet <br>
                    Samayapuram Temple <br>
                    Srirangam Temple <br>
                    SRM Hotel <br>
                    Kallanai Dam <br>
                    Chennai (Return)<br>
                  </p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="card text-white bg-success mb-3">
								<div class="card-header">Hotel Stay</div>
								<div class="card-body">
									
                    <p class="card-text">
                        SRM Hotels <br>
                        3 Star Status <br>
                        A SRM Group <br>
                        Trichy <br>
                        Tamil Nadu <br>
                        Pin- 620020<br>
                      </p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="card text-white bg-danger mb-3">
								<div class="card-header">Estimated Budget</div>
								<div class="card-body">
									
                    <p class="card-text">
                        Taxi : Rs. 500 <br>
                        Bus Fare (AC) : Rs. 1200 <br>
                        Site Seeing : Rs. 500 <br>
                        Hotel Stay : Rs. 3500<br>
                        Food : Rs. 1500 <br>
                        <strong>Total : Rs. 7200 </strong><br>
                      </p>
								</div>
							</div>
						</div>
						
					</div>
        </div>
               
			</div>
			
<!-- Plan Ends -->
<br>
<br>



<h3 class="mb-4">Budget Shown above is tentative only. Prices may be high/low based on current situation</h3>
      
		</div>
		
	</div>
</section>

<!-- //typography -->
<br>
<br><br>
<br><br>
<br><br>
<br>

<app-footer></app-footer>